<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <title> 基于vue+webpack的多页面开发 </title>
  <!-- 字体图标 -->
  <link rel="stylesheet" href="../../../static/icomoon/style.css">
  <script>
    // 百度统计代码
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?691818e6d3480fce78d46fe8e20ab722";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();

  </script>
<link href="../static/css/views/index.css?0a17bff5d7178812751f" rel="stylesheet"></head>

<body>
  <div id="index">

  </div>
  <!-- built files will be auto injected -->
<script type="text/javascript" src="../static/js/vendor.js?0a17bff5d7178812751f"></script><script type="text/javascript" src="../static/js/views/index.js?0a17bff5d7178812751f"></script></body>

</html>