<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <title> 数据展示 </title>
  <!-- 字体图标 -->
  <link rel="stylesheet" href="../static/icomoon/style.css">
  <script>
    var scale = 1 / devicePixelRatio;
    document.querySelector('meta[name="viewport"]').setAttribute('content', 'initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + ', user-scalable=no');
    var deviceWidth = document.documentElement.clientWidth;
    document.documentElement.style.fontSize = deviceWidth / 10 + 'px';
  </script>
  <script>
    // 百度统计代码
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?691818e6d3480fce78d46fe8e20ab722";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
<link href="../static/css/views/showDatas.css?0a17bff5d7178812751f" rel="stylesheet"></head>

<body style="background: #030c1c">
  <div id="showDatas">

  </div>
  <!-- built files will be auto injected -->
<script type="text/javascript" src="../static/js/vendor.js?0a17bff5d7178812751f"></script><script type="text/javascript" src="../static/js/views/showDatas.js?0a17bff5d7178812751f"></script></body>

</html>